<div class="container">

    <div class="row">

        <div class="col-md-12 pl-2 pr-3 pt-3">
            <div class="col-md-12">
                <h2 class="header">
                    <span>Categorias</span>
                    <span class="float-right">
                        <img src="../../assets/img/usa-flag.png" alt="USA flag" class="flags flags-1" />
                        <img src="../../assets/img/brazil-flag.png" alt="Brazil flag" class="flags" />
                    </span>
                </h2>
            </div>
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Início</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Categorias</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12 pl-2 pr-2">

            <div class="col-md-12 mb-3">
                <div class="card-category">
                    <div class="card-body-category">
                        <span class="card-category-text">Básico</span>
                        <span class="float-right mt-1"><span class="badge badge-dark">1 - 100</span></span>
                    </div>
                </div>
            </div>

            <div class="col-md-12 pt-4 pb-3">
                <button type="button" class="btn btn-dark">Voltar</button>
            </div>

        </div>

    </div>

    
</div>