<div class="container">

    <div class="row">

        <div class="col-md-4"></div>

        <div class="col-md-4 mt-5">

            <div class="col-md-12 mb-1 text-center">
                <img src="../../assets/img/logo.png" class="logo-login" />
            </div>
            <div class="col-md-12 text-center title-login">
                <p>Login</p>
            </div>
            <div class="col-md-12 mb-3 text-center">
                <img src="../../assets/img/usa-flag.png" alt="USA flag" class="flags-login flags-1" />
                <img src="../../assets/img/brazil-flag.png" alt="Brazil flag" class="flags-login" />
            </div>

            <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                <div class="form-group-03">
                    <input type="email" class="form-control" formControlName="email" placeholder="Email" [ngClass]="{'is-invalid': submitted && formLogin.get('email').invalid }">
                    <div class="invalid-feedback" *ngIf="submitted && formLogin.get('email').invalid">
                        <span *ngIf="formLogin.get('email').errors.required">O campo login é obrigatório.</span>
                        <span *ngIf="formLogin.get('email').errors.email">O campo login deve conter um email válido.</span>
                    </div>
                </div>
                <div class="form-group-03">
                    <input type="password" class="form-control" formControlName="password" placeholder="Password" [ngClass]="{'is-invalid': submitted && formLogin.get('password').invalid }">
                    <div class="invalid-feedback">O campo senha é obrigatório.</div>
                </div>
                <button type="submit" class="btn btn-block btn-primary">Login</button>
                <button type="button" class="btn btn-link float-right" disabled>Esqueci minha senha</button>
            </form>

            <div class="mt-5">
                <button type="button" disabled class="btn btn-block btn-light"><i class="fab fa-google"></i> Login com o Google</button>
                <button type="button" disabled class="btn btn-block btn-facebook"><i class="fab fa-facebook"></i> Login com facebook</button>
                <a routerLink="/create" type="button" class="btn btn-block btn-info mt-4"><i class="fas fa-user-plus"></i> Cadastrar usuário </a>
            </div>

        </div>

    </div>

</div>