<div class="container">

    <div class="row">

        <div class="col-md-12 pl-2 pr-3 pt-3">
            <div class="col-md-12">
                <h2 class="header">
                    <span>Categoria</span>
                    <a href="#" class="pl-5" title="Adicionar categoria" (click)="openModalCreate(operation)"><i
                            class="fas fa-file-medical"></i></a>
                </h2>
            </div>
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Início</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Categoria</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12 pl-2 pr-2">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Filtros</div>
                    <div class="card-body">

                        <div class="row">
                            <div class="form-group col-md-2">
                                <label for="txtId">Id</label>
                                <input type="text" class="form-control" id="txtId">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="txtName">Nome</label>
                                <input type="text" class="form-control" id="txtName">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="txtQtyText">Qtd.Textos</label>
                                <input type="number" class="form-control" id="txtQtyText">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="slctActive">Ativo</label>
                                <select class="form-control" id="slctActive">
                                    <option value="">Todos</option>
                                    <option value="">Ativo</option>
                                    <option value="">Inativo</option>
                                </select>
                            </div>
                            <div class="col-md-2 mt-4 pt-2">
                                <button type="button" class="btn btn-success">Buscar</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-12 pt-3">
                <div class="card">
                    <div class="card-header">Lista de categorias</div>
                    <table class="table table-bordered table-hover table-sm">
                        <thead>
                            <tr class="text-center">
                                <th>#</th>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Qtd.Textos</th>
                                <th>Ativo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td>1</td>
                                <td>458</td>
                                <td class="text-left">Basico</td>
                                <td>100</td>
                                <td><span class="badge badge-success">Sim</span></td>
                                <td><a href="#" (click)="openModalEdit(operation, 1)"><i class="fas fa-edit"></i></a>
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td>2</td>
                                <td>457</td>
                                <td class="text-left">Intermediário</td>
                                <td>100</td>
                                <td><span class="badge badge-success">Sim</span></td>
                                <td><a href="#" (click)="openModalEdit(operation, 1)"><i class="fas fa-edit"></i></a>
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td>3</td>
                                <td>457</td>
                                <td class="text-left">Teste</td>
                                <td>100</td>
                                <td><span class="badge badge-danger">Não</span></td>
                                <td><a href="#" (click)="openModalEdit(operation, 1)"><i class="fas fa-edit"></i></a>
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td>4</td>
                                <td>459</td>
                                <td class="text-left">Teste categoria</td>
                                <td>100</td>
                                <td><span class="badge badge-success">Sim</span></td>
                                <td><a href="#" (click)="openModalEdit(operation, 1)"><i class="fas fa-edit"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="card-footer">Num. Registros encontrados:: 4</div>
                </div>
            </div>

            <div class="col-md-12 pt-4 pb-3">
                <a routerLink="/home" class="btn btn-dark">Voltar</a>
            </div>

        </div>

    </div>

    <ng-template #operation let-modal>
        <div class="modal-header">
            <h4 id="modal-basic-title" class="modal-title" style="width: 100%;">
                <span>Categoria</span>
                <span class="float-right" *ngIf="TypeModalOperation == 2">Id:</span>
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()"><span
                    aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="row">

                <div class="form-group col-md-8">
                    <label for="txtModalName">Nome</label>
                    <input type="text" class="form-control" id="txtModalName">
                </div>
                <div class="form-group col-md-12">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="chkActive">
                        <label class="form-check-label" for="chkActive">Ativo</label>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="modal.close()" *ngIf="TypeModalOperation == 1">Salvar</button>
            <button type="button" class="btn btn-success" (click)="modal.close()" *ngIf="TypeModalOperation == 2">Alterar</button>
            <button type="button" class="btn btn-secondary" (click)="modal.close()">Fechar</button>
        </div>
    </ng-template>

</div>