<div class="container">

    <div class="row">

        <div class="col-md-12 pl-4 pr-4 pt-4">
            <div class="col-md-12">
                <h2 class="header"> 
                    <span>Categoria</span>
                    <a href="#" class="pl-5" title="Adicionar categoria"><i class="fas fa-file-medical"></i></a>
                </h2>
            </div>
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style="padding: 0rem 1rem; margin-left: -10px; background-color: #D6EDFF;">
                        <li class="breadcrumb-item"><a href="#">Início</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Categoria</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12 pl-4 pr-4">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Lista de categorias</div>
    
                    <table class="table table-bordered table-hover table-sm">
                        <thead >
                            <tr class="text-center">
                                <th>#</th>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Qtd.Textos</th>
                                <th>Ativo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td>1</td>
                                <td>458</td>
                                <td class="text-left">Basico</td>
                                <td>100</td>
                                <td><span class="badge badge-success">Sim</span></td>
                                <td><a href="#"><i class="fas fa-edit"></i></a> </td>
                            </tr>
                            <tr class="text-center">
                                <td>2</td>
                                <td>457</td>
                                <td class="text-left">Intermediário</td>
                                <td>100</td>
                                <td><span class="badge badge-success">Sim</span></td>
                                <td><a href="#"><i class="fas fa-edit"></i></a> </td>
                            </tr>
                            <tr class="text-center">
                                <td>3</td>
                                <td>457</td>
                                <td class="text-left">Teste</td>
                                <td>100</td>
                                <td><span class="badge badge-danger">Não</span></td>
                                <td><a href="#"><i class="fas fa-edit"></i></a> </td>
                            </tr>
                            <tr class="text-center">
                                <td>4</td>
                                <td>459</td>
                                <td class="text-left">Teste categoria</td>
                                <td>100</td>
                                <td><span class="badge badge-success">Sim</span></td>
                                <td><a href="#"><i class="fas fa-edit"></i></a> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-12 pt-4">
                <button type="button" class="btn btn-dark">Voltar</button>
            </div>

        </div>

    </div>

</div>