<div class="container">
    <form [formGroup]="formOperation" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col-md-12 pl-2 pr-3 pt-3">
                <div class="col-md-12">
                    <h2 class="header">
                        <span>Usuário</span>
                        <a class="ml-5 link-a" title="Editar usuário" (click)="editUser()" *ngIf="typeOperation == 2"><i class="fas fa-edit"></i></a>
                        <span class="float-right" *ngIf="typeOperation != 1">N° 789</span>
                    </h2>
                </div>
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/home">Início</a></li>
                            <li class="breadcrumb-item"><a routerLink="/admuser/index" >Lista de usuários</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <span *ngIf="typeOperation == 1">Cadastrar usuário</span>
                                <span *ngIf="typeOperation == 2">Detalhes do usuário</span>
                                <span *ngIf="typeOperation == 3">Editar usuário</span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12 pl-2 pr-2">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">Dados do usuário</div>
                        <div class="card-body">

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="txtEmail">Email</label>
                                    <input type="email" class="form-control" id="txtEmail" formControlName="email"
                                        [ngClass]="{'is-invalid': submitted && formOperation.get('email').invalid }">
                                    <div class="invalid-feedback"
                                        *ngIf="submitted && formOperation.get('email').invalid">
                                        <span *ngIf="formOperation.get('email').errors.required">O campo email é
                                            obrigatório.</span>
                                        <span *ngIf="formOperation.get('email').errors.email">O campo email deve conter
                                            um email válido.</span>
                                            <span *ngIf="formOperation.get('email').errors.maxlength">O campo email deve conter
                                                na maximo 200 caracteres.</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6" *ngIf="typeOperation == 1">
                                    <label for="txtNewPassword">Senha</label>
                                    <input type="password" class="form-control" id="txtNewPassword" formControlName="password" [ngClass]="{'is-invalid': submitted && formOperation.get('password').invalid }">
                                    <div class="invalid-feedback" *ngIf="submitted && formOperation.get('password').invalid">
                                        <span *ngIf="formOperation.get('password').errors.required">O campo senha é obrigatório.</span>
                                        <span *ngIf="formOperation.get('password').errors.maxlength">O campo senha deve conter na maximo 50 caracteres.</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6" *ngIf="typeOperation == 1">
                                    <label for="txtNewPasswordConfirm">Confirmar Senha</label>
                                    <input type="password" class="form-control" id="txtNewPasswordConfirm" formControlName="passwordConfirm" [ngClass]="{'is-invalid': submitted && formOperation.get('passwordConfirm').invalid }">
                                    <div class="invalid-feedback" *ngIf="submitted && formOperation.get('passwordConfirm').invalid">
                                        <span *ngIf="formOperation.get('passwordConfirm').errors.required">O campo confirmar senha é obrigatório.</span>
                                        <span *ngIf="formOperation.get('passwordConfirm').errors.maxlength">O campo confirmar senha deve conter na maximo 50 caracteres.</span>
                                        <span *ngIf="formOperation.get('passwordConfirm').errors.confirmedValidator">Os campos "Senha" e "Confirmar senha" devem ser iguais.</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-auto">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="chkIsAdmin"
                                            formControlName="isAdmin">
                                        <label class="form-check-label" for="chkIsAdmin">Administrador</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-auto">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="chkActive"
                                            formControlName="active">
                                        <label class="form-check-label" for="chkActive">Ativo</label>
                                    </div>
                                </div>
                                <div class="col-md-12" *ngIf="typeOperation == 3">
                                    <button type="button" class="btn btn-link" style="padding-left: 0.1rem;" (click)="openModalPassword(modalPassword)">Alterar
                                        senha</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 pt-4 pb-3">
                    <button type="submit" class="btn btn-success mr-2" *ngIf="typeOperation == 1">Cadastrar usuário</button>
                    <button type="submit" class="btn btn-success mr-2" *ngIf="typeOperation == 3">Alterar usuário</button>
                    <a routerLink="/admuser/index" class="btn btn-dark">Voltar</a>
                </div>

            </div>

        </div>
    </form>

    <ng-template #modalPassword let-modal>
        <div class="modal-header">
            <h4 id="modal-basic-title" class="modal-title" style="width: 100%;"><span><i class="fas fa-lock"></i>
                    Alterar senha</span></h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="txtPassword">Senha</label>
                    <input type="password" class="form-control" id="txtPassword">
                </div>
                <div class="form-group col-md-12">
                    <label for="txtPasswordConfirm">Confirmar senha</label>
                    <input type="password" class="form-control" id="txtPasswordConfirm">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="modal.close()">Salvar nova senha</button>
            <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancelar</button>
        </div>
    </ng-template>

</div>